.blogcard-layout {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.blogcard {
    border: 2px solid rgb(81, 81, 88);
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    position: relative;
}

.blogcard-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.blogcard-meta {
    padding: 0;
    margin: 0;
    color: #8a9eb5;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.blogcard-title {
    padding: 10px;
}

.blogcard-text {
    padding: 10px;
    padding-bottom: 80px;
}

.blogcard-button-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blogcard-button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(40, 116, 160);
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: bold;
    transition-duration: 0.4s;
}

.blogcard-button:active {
    background-color: rgb(77, 143, 143);
}

@media(min-width: 651px) and (max-width: 1199px) {
    .blogcard-layout {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1200px) {
    .blogcard-layout {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}
